
/* 
    Created on : 22-mar-2016, 16.29.39
    Author     : Giovanni
*/

/* =================================================================== */
/* Colors:
/* green: #44d62c
/* grey:
/*
/*
/*  Advent v1.0 Main Stylesheet
/*  url: styleshout.com
/*  08-28-2015
/*
/*	 TOC:
/*  01. =webfonts and iconfonts
/*  02. =document setup
/*  03. =preloader
/*  04. =forms
/*  05. =content styles
/*  06. =modals
/*  07. =footer
/*
/* =================================================================== */





/* mailchimp form
------------------------------------------ */
#placesearchform {
	clear: both;
	width: 80%;
	margin: 6px auto 30px;
}

#placesearchform input {
	display: block;
	float:none;
	border: none;
	font-size: 15px;
        margin: auto;
	font-family: "montserrat-bold", sans-serif;
}

#placesearchform input {
	height: 54px;
	color: rgba(0, 0, 0, 0.7);
	line-height: 30px;
	padding: 12px 15px 12px 20px;
	border-radius: 3px 3px 3px 3px;
	background: rgba(255, 255, 255, 0.25);
	width: 70%;
}


#placesearchform input[type="submit"] {
        clear:both;
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 1px;
	line-height: 30px;
	height: 54px;
	padding: 12px 25px 12px 25px;
	border-radius: 3px 3px 3px 3px;
	background: white;
	width: 70%;
	text-align: center;
	color: black;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

#placesearchform input[type="submit"]:hover {
	background: #44d62c;
}

#placesearchform label {
	clear: both;
	display: block;
	width: 100%;
	min-height: 30px;
	font-family: "montserrat-regular", sans-serif;
	color: white;
}

#placesearchform label i {
	color: #44d62c;
	margin-right: 5px;
}

@media only screen and (max-width:900px) {
	#placesearchform {
		width: 70%;
	}

	#placesearchform input {
		width: 60%;
	}

	#placesearchform input[type="submit"] {
		width: 55%;
	}

}

@media only screen and (max-width:768px) {
	#placesearchform {
		width: 80%;
		margin-bottom: 30px;
	}

	#placesearchform input {
		width: 55%;
	}

	#placesearchform input[type="submit"] {
		width: 45%;
	}

}

@media only screen and (max-width:600px) {
	#placesearchform {
		width: 100%;
		margin-bottom: 24px;
		padding-left: 15px;
		padding-right: 15px;
	}

	#placesearchform input {
		width: 100%;
		float: none;
		margin-bottom: 0;
		border-radius: 3px 3px 0 0;
		text-align: center;
	}

	#placesearchform input[type="submit"] {
		width: 100%;
		float: none;
		border-radius: 0 0 3px 3px;
	}

}

@media only screen and (max-width:400px) {
	#placesearchform {
		padding-left: 0;
		padding-right: 0;
	}

}

.search {
  position: relative;
  clear: both;
	width: 80%;
	margin: 6px auto 30px;
}

.search:after {
  content: "";
  display: table;
  clear: both;
}
.search::after {
  /* subtle gradient layer on top right - to indicate it's possible to scroll */
  position: absolute;
  top: 0;
  right: 0;
  height: 60px;
  width: 50px;
  z-index: 1;
  pointer-events: none;
  background: transparent;
  visibility: hidden;
  opacity: 1;
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  -moz-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s;
}
.no-cssgradients .search::after {
  display: none;
}
.search.is-ended::after {
  /* class added in jQuery - remove the gradient layer when it's no longer possible to scroll */
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s;
}
.search nav {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  
  
}
@media only screen and (min-width: 768px) {
  .search::after {
    display: none;
  }
  .search nav {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 1;
  }
}
@media only screen and (min-width: 960px) {
  .search nav {
    position: relative;
    float: none;
    background: transparent;
    box-shadow: none;
  }
}

.tabs {
  width: 100%;
 
}
#nav .tabs ul {
    list-style: none;
    margin: 0 !important;
    border: 0;
    width: 100%;
    display: table;
    table-layout: fixed;
    text-align: center;
}
.tabs:after {
  content: "";
  display: table;
  clear: both;
}
.tabs li {
  float: left;
  background: transparent !important;
  
}
.tabs a {
  position: relative;
  display: block;
  height: 100%;
  width: 100%;
  text-align: center;
  font-size: 200px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 700;
  color: #44d62c;
  padding-top: 34px;
}
.no-touch .tabs a:hover {
  background-color: rgba(255, 255, 255, 0.7);
}
.tabs a.selected {
  background-color: transparent;
}
.tabs a::before {
  /* icons */
  position: absolute;
  top: 12px;
  left: 50%;
  margin-left: -10px;
  display: inline-block;
  height: 100%;
  width: 100%;
}
.tabs a[data-content='where']::before {
  background-position: 0 0;
}
.tabs a[data-content='when']::before {
  background-position: -20px 0;
}

@media only screen and (min-width: 768px) {
  .tabs {
    /* move the nav to the left on medium sized devices */
    width: 80px;
    float: left;
  }
  .tabs a {
    height: 80px;
    width: 80px;
    padding-top: 46px;
  }
  
  .tabs a::before {
    top: 22px;
  }
}
@media only screen and (min-width: 960px) {
  .tabs {
    /* tabbed on top on big devices */
    width: auto;
    background-color: transparent;
   
  }
  .tabs a {
    height: 60px;
    line-height: 60px;
    width: auto;
    text-align: left;
    font-size: 14px;
    font-size: 0.875rem;
    padding: 0 2.8em 0 4.6em;
  }
  
  .tabs a::before {
    top: 50%;
    margin-top: -10px;
    margin-left: 0;
    left: 38px;
  }
}

.contents ul {
    list-style: none;
}
.contents li {
  display: none;
  padding: 1.4em;
}
.contents li.selected {
  display: block;
  -webkit-animation: cd-fade-in 0.5s;
  -moz-animation: cd-fade-in 0.5s;
  animation: cd-fade-in 0.5s;
}

.contents li h2 {
    color: #44d62c;
}
.contents li p {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.6;
  color: #8493bf;
  margin-bottom: 2em;
}
@media only screen and (min-width: 768px) {
  .contents {
    min-height: 480px;
  }
  .contents li {
    padding: 2em 2em 2em 7em;
  }
}
@media only screen and (min-width: 960px) {
  .contents {
    min-height: 0;
  }
  .contents li {
    padding: 3em;
  }
  .contents li p {
    font-size: 16px;
    font-size: 1rem;
  }
}

@-webkit-keyframes cd-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes cd-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes cd-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
} 

/* Dropdown menu*/
.dropbtn {
    background: black url('../images/menu.png') center center;
    background-repeat:no-repeat;
    position: fixed;
    float: right;
    top:5%;
    right:5%;
    width:auto;
    height:auto;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    clear:both;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: black;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: absolute;
    right:100px;
    top:100px;
    display: block;
    clear:both;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    right:1%;
    top:100%;
    background-color: black;
    min-width: 160px;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: rgba(255, 255, 255, 0.3)}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}
